body {
	font-family: 'Inter', sans-serif;
	padding: 0 0.5rem;
}

h1 {
	font-size: 3rem;
	line-height: 1;
}

h1+h2 {
	font-size: 1.1rem;
	margin-top: -1.4rem;
	opacity: 0.9;
	font-weight: 400;
}

main {
	max-width: 40rem;
	margin: auto;
}