---
import Main from "../layouts/Main.astro"
const profilePicture = "https://i.imgur.com/JPGFE75.jpg"
---


<Main>
	<div class="profile">
		<img class="profile-picture" src={profilePicture} width="100px" height="100px" alt="Katerina Frau blog">

		<div class="profile-details">
			<h1>Frau Katerina</h1>
			<p>VP of engineering at Google</p>
			<p>Helping developers be excellent and succeed at scallable products.</p>
		</div>
	</div>
</Main>

<style>
	.profile {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}

	.profile-details {
		flex: 1 0 300px;
	}

	.profile-details>h1 {
		margin-top: 0;
	}

	.profile-picture {
		border-radius: 50%;
		margin: 0 2rem 1rem 0;

	}
</style>